@keyframes heroAirplane {
	0% {
		transform:rotate(-20deg) scale(2) 
	}25% {
		transform:rotate(-10deg) translateX(-100px) scale(2.25)
	}50% {
		transform: rotate(0deg) scale(2)
	}75%{
		transform:rotate(-10deg) translateX(100px) scale(2.25) 
	}100% {
		transform: rotate(-20deg) scale(2)
	}
}
@keyframes heroClouds{
	0%{
			transform: translateX(10px);
	}100% {
			transform: translateX(1000px);
	}
}
