*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body,
main {
  background: #fff;
}

.section-2Left__button, .sectionhero__buttons button, .nav__hidenmenu--button_close, .nav__hidenmenu--button_2, .nav__hidenmenu--button_1 {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  color: snow;
  background-color: black;
  font-family: helveticaBold;
  letter-spacing: 2px;
}
.section-2Left__button:hover, .sectionhero__buttons button:hover, .nav__hidenmenu--button_close:hover, .nav__hidenmenu--button_2:hover, .nav__hidenmenu--button_1:hover {
  opacity: 0.8;
}

.nav__hidenmenu--link {
  text-decoration: none;
  position: relative;
}
.nav__hidenmenu--link:hover::after {
  width: 100%;
}
.nav__hidenmenu--link::after {
  width: 0;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: black;
  transition: 0.3s;
}

@keyframes heroAirplane {
  0% {
    transform: rotate(-20deg) scale(2);
  }
  25% {
    transform: rotate(-10deg) translateX(-100px) scale(2.25);
  }
  50% {
    transform: rotate(0deg) scale(2);
  }
  75% {
    transform: rotate(-10deg) translateX(100px) scale(2.25);
  }
  100% {
    transform: rotate(-20deg) scale(2);
  }
}
@keyframes heroClouds {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(1000px);
  }
}
:root {
  --index:calc(1vw + 1vh) ;
}

@font-face {
  font-family: helveticaBold;
  src: url(../fonts/HelveticaNowDisplay-Bold.woff2);
}
@font-face {
  font-family: helveticaLight;
  src: url(../fonts/HelveticaNowDisplay-Light.woff2);
}
@font-face {
  font-family: helveticaReg;
  src: url(../fonts/HelveticaNowDisplay-Regular.woff2);
}
.body-overflowlock {
  overflow: hidden;
}

header.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  padding-inline: 40px;
  background-blend-mode: lighten;
  position: relative;
  background: #849fbd;
}
@media (max-width: 768px) {
  header.header {
    padding-inline: 0;
  }
}

.header__cloud_img {
  position: absolute;
  bottom: 0;
  left: 0;
  background: top/cover no-repeat;
  z-index: 1;
  width: 100%;
}

nav.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav__logo {
  width: 63%;
  font-size: calc(var(--index) * 9);
  font-family: helveticaBold;
  line-height: 290px;
}
@media (max-width: 1024px) {
  .nav__logo {
    font-size: 80px;
    line-height: 200px;
  }
}

.nav__menu {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.nav__burger,
.nav__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  z-index: 2;
}

.nav__menu--list {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
  padding: 0;
}
@media (max-width: 1024px) {
  .nav__menu--list {
    display: none;
  }
}

.nav__menu--link {
  text-decoration: none;
  font-family: helveticaLight;
  color: #000;
  position: relative;
}
.nav__menu--link:hover::after {
  width: 100%;
}
.nav__menu--link::after {
  width: 0;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #000;
  transition: 0.3s;
}

.nav__burger {
  display: flex;
  font-size: 20px;
  gap: 15px;
}
@media (max-width: 768px) {
  .nav__burger {
    flex-direction: column;
    gap: 8px;
    justify-content: start;
  }
}

.fa-solid {
  background-color: #000;
  color: snow;
  padding: 15px;
  border-radius: 50%;
  transition: 0.4s;
}
.fa-solid:hover {
  opacity: 0.7;
}

.fa-plane-up {
  background-color: #000;
  color: snow;
  padding: 15px;
  border-radius: 50%;
  transition: 0.4s;
}
.fa-plane-up:hover {
  opacity: 0.7;
}

.nav__menu--desc {
  font-size: 45px;
  font-family: helveticaBold;
}
@media (max-width: 768px) {
  .nav__menu--desc {
    display: none;
  }
}

.nav__hidenmenu {
  position: absolute;
  top: 0;
  right: -60%;
  height: 100vh;
  padding-inline: 40px;
  padding-block: 40px;
  z-index: 1000;
  width: 60%;
  background: white;
  transition: 0.4s;
}

.show-menu {
  position: absolute;
  right: 0;
}

.nav__hidenmenu--buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.nav__hidenmenu--button_1 {
  line-height: 35px;
}

.nav__hidenmenu--button_2 {
  line-height: 35px;
}

.nav__hidenmenu--button_close {
  margin-left: 50px;
  font-size: 25px;
}

.nav__hidenmenu--items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav__hidenmenu--item {
  display: flex;
  flex-direction: column;
  line-height: 45px;
}

.nav__hidenmenu--title {
  font-size: 2rem;
}

.nav__hidenmenu--link {
  font-size: 1.2rem;
  color: #000;
  font-family: helveticaLight;
}

.sectionhero {
  height: 100%;
  display: flex;
}

.sectionhero__img {
  text-align: center;
  overflow: hidden;
}

.sectionhero__img img {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 400px;
  animation: heroAirplane 10s infinite linear;
}
@media (max-width: 768px) {
  .sectionhero__img img {
    width: 300px;
  }
}
@media (max-width: 425px) {
  .sectionhero__img img {
    width: 200px;
    left: 100px;
    top: 280px;
  }
}

.sectionhero__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: end;
}
@media (max-width: 768px) {
  .sectionhero__body {
    flex-direction: column;
    justify-content: end;
  }
}

.sectionhero__desc {
  font-size: 22px;
  font-family: helveticaBold;
  align-self: center;
  z-index: 2;
}
@media (max-width: 768px) {
  .sectionhero__desc {
    font-size: 40px;
  }
}
@media (max-width: 425px) {
  .sectionhero__desc {
    font-size: 32px;
  }
}

.sectionhero__buttons {
  z-index: 2;
}

.sectionhero__buttons button:nth-child(1) {
  margin-bottom: 10px;
}

.section-1 {
  display: flex;
  padding-block: 80px;
}

.section-1Left {
  width: 70%;
}
@media (max-width: 768px) {
  .section-1Left {
    width: 0;
  }
}

.section-1Right {
  width: 100%;
}

.section-1__header {
  font-size: 62px;
  line-height: 62px;
  font-family: helveticaBold;
}
@media (max-width: 768px) {
  .section-1__header {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 425px) {
  .section-1__header {
    font-size: 24px;
    line-height: 25px;
  }
}

.section-1__descs {
  display: grid;
  grid-template-columns: 350px 350px;
  gap: 50px;
}
@media (max-width: 768px) {
  .section-1__descs {
    grid-template-columns: 1fr;
    gap: 2px;
  }
}

.section-2 {
  color: snow;
  font-family: helveticaReg;
}

.section-2 .wrapper {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 900px) {
  .section-2 .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
  }
}

.section-2Left {
  display: flex;
  flex-direction: column;
  background: #151623;
  padding: 50px;
  justify-content: space-between;
}

.section-2Left__title {
  font-size: 50px;
  font-family: helveticaBold;
}

.section-2Left__decs {
  justify-self: end;
}

.section-2Left__button {
  border: 1px solid snow;
}
.section-2Left__button:hover {
  background: snow;
  color: #000;
}

.section-2Center {
  background: #b9b8b8 url(../img/1611761434-perseat2.jpg) left/cover no-repeat;
  background-blend-mode: multiply;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.section-2Center__title {
  font-size: 40px;
}

.section-2Right {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: #bc7154;
}

.section-2Right__title {
  font-size: 40px;
}/*# sourceMappingURL=main.css.map */